[Unit]
Description=Belaboxgpio
After=belaUI.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 -u /usr/local/bin/belaboxgpio
User=root
StandardOutput=journal+console
Restart=always
SyslogIdentifier=belaboxgpio

[Install]
WantedBy=multi-user.target
